# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Environment
.env

# Database and cache files
*.pkl
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
.DS_Store

*.json
database2.py
Dockerfile
update_qaliz.ps1
update-qaliz.bat