aiohttp==3.11.11
discord.py>=2.5.0
firebase-admin==6.6.0
Flask==3.1.0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
gw2 @ git+https://github.com/Invisi/python-gw2.git@929106c5a63e4d31cd13f5f42e99a812f7f5cea6
